<div class="row">
	<div class="col-md-12">
		<table class="table table-responsive table-striped table-hover">
			<thead>
			<tr>
				<th>Id</th>
				<th>Description</th>
				<th>Urls</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="tvConfig in tvConfigs">
				<td>{{tvConfig.id}}</td>
				<td>{{tvConfig.description}}</td>
				<td>
					<select class="form-control">
						<option ng-repeat="screen in tvConfig.urls">{{screen.url}} ({{screen.interval}} sec)</option>
					</select>
				</td>
				<td>
					<div class="btn-group btn-group-sm">
						<button class="btn btn-default" ng-click="edit(tvConfig)">
							Edit
							<span class="glyphicon glyphicon-edit"></span>
						</button>
						<button ng-hide="isCurrentlyWatching(tvConfig)" class="btn btn-primary" ng-click="setLocalTvConfig(tvConfig)">
							Watch
							<span class="glyphicon glyphicon-eye-open"></span>
						</button>
						<span ng-show="isCurrentlyWatching(tvConfig)" class="btn btn-primary disabled">
							Watch
							<span class="glyphicon glyphicon-eye-open"></span>
						</span>
						<button ng-show="isCurrentlyWatching(tvConfig)" class="btn btn-warning" ng-click="removeLocalTvConfig()">
							Ignore
							<span class="glyphicon glyphicon-eye-close"></span>
						</button>
						<span ng-hide="isCurrentlyWatching(tvConfig)" class="btn btn-warning disabled">
							Ignore
							<span class="glyphicon glyphicon-eye-close"></span>
						</span>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>