<div class="row">
	<div class="col-md-12">
		<table class="table table-responsive">
			<thead>
			<tr>
				<th>Id</th>
				<th>Description</th>
				<th>Urls</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="tvConfig in tvConfigs">
				<td>{{tvConfig.id}}</td>
				<td>{{tvConfig.description}}</td>
				<td>
					<select>
						<option ng-repeat="screen in tvConfig.urls">{{screen.url}} ({{screen.interval}} sec)</option>
					</select>
				</td>
				<td>
					<button class="btn btn-primary btn-small" ng-click="edit(tvConfig)">
						Edit
						<span class="glyphicon glyphicon-edit"></span>
					</button>
					<button class="btn btn-primary btn-small" ng-click="setLocalTvConfig(tvConfig)">
						Set current
						<span class="glyphicon glyphicon-save"></span>
					</button>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>